{% extends "base.html" %}

{% block contenido %}

        <h2> Acerca de </h2>
        <table>
        <tr>
            <td>Informacion</td>
            <td>Carreras</td>
            <td>Jornadas</td>
            
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Ingenieria en sistemas</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Auditoria</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Criminologia</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Psicologia</td>
            <td>Plan Sabado</td>
           
        </tr> </center></FONT>
        
    </table>
    <a href="{% url 'home:homeapp' %}">home</a>
 {% endblock%}
    
