{% extends "base.html" %}

{% block contenido %}
<a class="btn btn-primary" href="{% url 'home:Administradoresapp' %}">ADMINISTRADORES</a>
<a class="btn btn-primary" href="{% url 'home:Estudiantesapp' %}">ESTUDIANTES</a>
<a class="btn btn-primary" href="{% url 'home:homeapp' %}">HOME</a>

        <h2> Acerca de </h2>
        <table>
        <tr>
            <td>Informacion</td>
            <td>Carreras</td>
            <td>Jornadas</td>
            
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Ingenieria en sistemas</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Auditoria</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Criminologia</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Psicologia</td>
            <td>Plan Sabado</td>
           
        </tr> </center></FONT>
        
    </table>
 {% endblock%}
    
