<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad</title>
</head>
<body>
    <b><FONT COLOR="magenta"><center> <h1>Acerca de Universidad Mariano Galvez</h1> </center></FONT>
        <b>
            <b><FONT COLOR="green"><center> <table>
        <tr>
            <td>Informacion</td>
            <td>Carreras</td>
            <td>Jornadas</td>
            
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Ingenieria en sistemas</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Auditoria</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Criminologia</td>
            <td>Plan Sabado</td>
           
        </tr>
        <tr>
            <td>UMG San Pedro</td>
            <td>Psicologia</td>
            <td>Plan Sabado</td>
           
        </tr> </center></FONT>
        
    </table>
    <a href="{% url 'home:homeapp' %}">home</a>
    
</body>
</html>