{% extends "base.html" %}

{% block contenido %}

<a class="btn btn-primary" href="{% url 'home:Estudiantesapp' %}">ESTUDIANTES</a>
<a class="btn btn-primary" href="{% url 'home:Acercadeapp' %}">ACERCA DE</a>
<a class="btn btn-primary" href="{% url 'home:homeapp' %}">HOME</a>

<h2> Administradores </h2>
<table>
<tr>
 <b>
  <td><strong><h4>NOMBRE</strong></td>
  <td><strong><h4>APELLIDO</strong></td>
  <td><strong><h4>CODIGO</strong></td>
  <td><strong><h4>CURSOS</strong></td>
  </tr></h4></thead>
  <tr class="table-primary">
<td>IVAN ANTONIO</td>
<td>DE LEON FUENTES</td>
<td>265165</td>
<td><p align="center">10</td>
  <tr class="table-info">
<td>EDGAR JEHOMIAS</td>
<td>MATUL GARCIA</td>
<td>2652651</td>
<td><p align="center">15</td>
</tr>
<tr class="table-secondary">
<td> ABNER DANIEL</td>
<td>GARCÍA ROMERO</td>
<td>25615156</td>
<td><p align="center">6</td>
</tr>
<tr class="table-warning">
<td>PIEDAD PATRICIA</td>
<td>GIRON MARROQUIN</td>
<td>61651651</td>
<td> <p align="center">8</td>
</tr>
<tr class="table-danger">
<td>JOSE ANDRES</td>
<td>ROBLEDO ESCOBAR</td>
<td>651651</td>
<td><p align="center">7</td></center></FONT>
</tr>
</table>
<div class="cantainer">
<form id="For">
</form>
</div>
        
    </table>
{% endblock%}
    
