<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad</title>
</head>
<body>
    <b><FONT COLOR="blue"><center> <h1>Listado de datos Administradores</h1> </center></FONT>
 <b>

    <div><br></div>
    <div class="table-responsive">
        <b><FONT COLOR="purple"><center><table class="table table-hover table-dark text-center"; id="tabla">
      <thead class="thead-lighy">
  <td><strong><h4>NOMBRE</strong></td>
  <td><strong><h4>APELLIDO</strong></td>
  <td><strong><h4>CODIGO</strong></td>
  <td><strong><h4>CURSOS</strong></td>
  </tr></h4></thead>
  <tr class="table-primary">
<td>IVAN ANTONIO</td>
<td>DE LEON FUENTES</td>
<td>265165</td>
<td><p align="center">10</td>
  <tr class="table-info">
<td>EDGAR JEHOMIAS</td>
<td>MATUL GARCIA</td>
<td>2652651</td>
<td><p align="center">15</td>
</tr>
<tr class="table-secondary">
<td> ABNER DANIEL</td>
<td>GARCÍA ROMERO</td>
<td>25615156</td>
<td><p align="center">6</td>
</tr>
<tr class="table-warning">
<td>PIEDAD PATRICIA</td>
<td>GIRON MARROQUIN</td>
<td>61651651</td>
<td> <p align="center">8</td>
</tr>
<tr class="table-danger">
<td>JOSE ANDRES</td>
<td>ROBLEDO ESCOBAR</td>
<td>651651</td>
<td><p align="center">7</td></center></FONT>
</tr>
</table>
<div class="cantainer">
<form id="For">
</form>
</div>
        
    </table>
    <a href="{% url 'home:homeapp' %}">home</a>
    
</body>
</html>