{% extends "base.html" %}

          {% block contenido %}
          <a class="btn btn-primary" href="{% url 'home:homeapp' %}">HOME</a>
          <a class="btn btn-primary" href="{% url 'home:Administradoresapp' %}">ADMINISTRADORES</a>
          <a class="btn btn-primary" href="{% url 'home:Acercadeapp' %}">ACERCA DE</a>
          <br><br><h2> Estudiantes </h2>
          <table>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Curso</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Corina</td>
            <td>De Leon </td>
            <td>Desarrollo Web</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Gabriela</td>
            <td>Fuentes</td>
            <td>Analisis de sistemas</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Pablo</td>
            <td>Fuentes</td>
            <td>Redes</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Fernada</td>
            <td>Fuentes</td>
            <td>Arquitectura</td>        
    </table>
{% endblock%}

    
