<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad</title>
</head>
<body>
    <b><FONT COLOR="navy"><center> <h1>Listado de datos Estudiantes</h1> </center></FONT>
        <b>
            <b><FONT COLOR="purple"><center> <table>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Curso</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Corina</td>
            <td>De Leon </td>
            <td>Desarrollo Web</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Gabriela</td>
            <td>Fuentes</td>
            <td>Analisis de sistemas</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Pablo</td>
            <td>Fuentes</td>
            <td>Redes</td>
        </tr>
        <tr>
            <td>0903-18-19426</td>
            <td>Fernada</td>
            <td>Fuentes</td>
            <td>Arquitectura</td>
        </tr></center></FONT>
        
    </table>
    <a href="{% url 'home:homeapp' %}">home</a>

    
</body>
</html>