<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad</title>
</head>
<body>
    <b><FONT COLOR="red"><center> <h1>Pagina Principal</h1> </center></FONT>
        <b><FONT COLOR="cyan"><center> <a href="{% url 'home:Estudiantesapp' %}">Estudiantes</a>
    <a href="{% url 'home:Administradoresapp' %}">Administradores</a>
    <a href="{% url 'home:Acercadeapp' %}">Acercade</a></center></FONT>
    
</body>
</html>